<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyj.blogback.mapper.BlogMapper">

    <resultMap id="BlogMapperMap" type="com.dyj.blogback.model.Blog">


    </resultMap>

    <insert id="addBlog" parameterType="com.dyj.blogback.model.Blog" >
      insert into t_blog(title,content,firstPicture,flag,appreciation,commentabled,
            shareStatement,recommend,published,createTime,updateTime,typeId,html,description)
      values(#{title}, #{content},#{firstPicture},#{flag},#{appreciation},#{commentabled},
      #{sharestatement},#{recommend},#{published},#{createTime},#{updateTime},#{typeId},#{html},#{description})
    </insert>

    <insert id="addBlogTag" parameterType="com.dyj.blogback.model.BlogTag" useGeneratedKeys="true">
      insert into blog_tag(blogId,TagId)
      values(#{blogId},#{tagId})
    </insert>

    <update id="editBlog" parameterType="com.dyj.blogback.model.Blog" >


      update t_blog set title=#{title},content=#{content},firstPicture=#{firstPicture},flag=#{flag},appreciation=#{appreciation},commentabled=#{commentabled},
      shareStatement=#{sharestatement},recommend=#{recommend},updateTime=#{updateTime},typeId=#{typeId},html=#{html},description=#{description}
      where id=#{blogId}

    </update>

    <update id="editBlogTag" parameterType="com.dyj.blogback.model.BlogTag">
       update blog_tag set TagId=#{tagId}
       where blogId = #{blogId}

    </update>

    <select id="findIdByTitle" resultType="com.dyj.blogback.model.Blog">
        select * from t_blog where title=#{title}
    </select>

    <update id="toPublish"  parameterType="com.dyj.blogback.model.Blog">
         update t_blog SET published=1
         where id=#{id}
    </update>
    <update id="setViews"  parameterType="com.dyj.blogback.model.Blog">
         update t_blog SET views=#{views}
         where id=#{id}
    </update>



    <select id="getBlogs" resultType="com.dyj.blogback.model.Blog">
        select * from t_blog
    </select>
    <select id="getPBlogs" resultType="com.dyj.blogback.model.Blog">
        select * from t_blog where published=1
    </select>


    <select id="findPBlogById" resultType="com.dyj.blogback.model.Blog">
        select * from t_blog where id = #{blogId} and published = 1
    </select>
    <select id="findBlogById" resultType="com.dyj.blogback.model.Blog">
        select * from t_blog where id = #{blogId}
    </select>



    <select id="findTagIdByBlogId" resultType="com.dyj.blogback.model.BlogTag">
        select * from blog_tag where blogId = #{blogId}
    </select>

    <!-- 通过id 删除 -->
    <delete id="deleteBlog">
        delete from t_blog where id = #{id}
    </delete>


    <select id="findBlogOfType" resultType="com.dyj.blogback.model.Blog">
        select * from t_blog where typeId=#{typeId} and published=1
    </select>

    <select id="getRecommend" resultType="com.dyj.blogback.model.Blog">
        select * from t_blog where recommend=1 and published=1
    </select>


</mapper>

